<div class="container-fluid">
  <div class="row-fluid">
     <div class="metro span12">
        <div class="metro-sections">

           <div id="section1" class="metro-section tile-span-4">

              <h2>devices</h2>

              <a class="tile app wide bg-color-orange" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-">&#xe0de;</span>
                    <div class="app-label">Lighting</div>
                 </div>
              </a>

              <a class="tile app wide bg-color-green" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-">&#xe016;</span>
                 </div>
                 <span class="app-label">Audio</span>
              </a>

              <a class="tile app wide bg-color-yellow" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-">&#x002e;</span>
                 </div>
                 <span class="app-label">Security Cams</span>
              </a>

              <a class="tile app wide bg-color-purple" href="#">
                 <div class="image-wrapper">
                    <span class="icon icon-">&#x007d;</span>
                 </div>
                 <span class="app-label">HVAC</span>
              </a>

           </div>

           <div id="section2" class="metro-section tile-span-4">

                  <h2>utilities</h2>

                  <a class="tile app wide bg-color-blue" href="#">
                     <div class="image-wrapper">
                        <span class="icon icon-">&#x0049;</span>
                     </div>
                     <span class="app-label">Schedule</span>
                  </a>

                  <a class="tile app wide bg-color-yellow" href="#">
                     <div class="image-wrapper">
                        <span class="icon icon-">&#xe012;</span>
                     </div>
                     <span class="app-label">Power Consumption</span>
                  </a>

                <a class="tile app wide bg-color-pink" href="#">
                     <div class="image-wrapper">
                        <span class="icon icon-">&#x004d;</span>
                     </div>
                     <span class="app-label">Remote Access</span>
                  </a>

            </div>
        </div>
     </div>
  </div>
</div>